<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
		<ul>
			<li><a href="./index.html" id="logo">Home</a></li>
			<li><a href="./rooms.html">Rooms</a></li>
			<li><a href="./services.html">Services</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./customers.html" id="book">Profile</a></li>
		</ul>
	</nav>

    <div class="about" id="about">
        <div class="about-desc">
            <div class="heading">About</div>
            <p>Welcome to [Hotel Name], where luxury meets comfort in the heart of [City/Location]. Nestled amidst breathtaking landscapes and surrounded by the vibrant pulse of the city, our hotel offers an unparalleled experience of hospitality and relaxation.
                <br><br>
                At [Hotel Name], we pride ourselves on delivering exceptional service tailored to meet the needs of every guest. Whether you're visiting for business or leisure, our dedicated staff is committed to ensuring your stay is nothing short of memorable.
                <br><br>
                Step into our elegant lobby and feel the warmth of our hospitality envelop you. Indulge in our exquisite accommodations, featuring spacious rooms and suites adorned with modern amenities and plush furnishings. Each room is thoughtfully designed to provide the perfect blend of comfort and style, offering a peaceful retreat after a day of exploration or work.
                <br><br>
                Experience culinary delights at our renowned restaurants, where expert chefs craft delectable dishes inspired by both local flavors and international cuisines. Whether you're craving a gourmet meal or a casual bite, our diverse dining options are sure to tantalize your taste buds.
                <br><br>
                Unwind and rejuvenate at our state-of-the-art wellness facilities, including a luxurious spa, fitness center, and swimming pool. Pamper yourself with indulgent spa treatments or maintain your fitness routine amidst stunning views of the city skyline.
                <br><br>
                For business travelers, our hotel offers versatile meeting and event spaces equipped with the latest technology and professional services. Whether you're hosting a conference, seminar, or social gathering, our experienced event planners ensure every detail is meticulously arranged for a successful event.
                <br><br>
                Explore the wonderss with ease, as our hotel is conveniently located near top attractions, shopping districts, and entertainment venues. Our concierge desk is always available to assist you in planning unforgettable excursions and experiences.
                <br><br>
                At [Hotel Name], your comfort and satisfaction are our top priorities. Whether you're here for a brief getaway or an extended stay, we invite you to immerse yourself in the unparalleled luxury and hospitality that define our hotel.
                <br><br>
                Experience a world of elegance and sophistication at [Hotel Name]. Your journey begins here.</p>
            <br>
            <p><strong>We accept: Cash and Credit</strong></p>
        </div>
        <!-- <div class="about-img">
            <img src="../images/hotel.png" alt="Map">
        </div> -->
        <div class="about-contact">
            <div class="about-address">123 Some Lane, Toronto, Canada</div>
            <div class="about-phone">Phone: 505 5050</div>
            <div class="about-email">Email: mail@mail.com</div>
        </div>

        <div class="note">
            <div class="note-point"></div>
            <div>On demand, we can offer playstation, babycall, children care, dog equipment, etc.</div>
        </div>

        <div class="our-hotels">
            <div class="heading">Our Hotels</div>
            <p>You can find our hotels anywhere in the world.</p><br>

            <div class="hotel-images">
                <div class="hotel-img hotel-main">
                    <img src="../images/hotel.png" alt="Cinque Terre">
                    <div class="hotel-name">Cinque Terre</div>
                </div>
                <div class="hotel-img">
                    <img src="../images/hotel.png" alt="New York">
                    <div class="hotel-name">New York</div>
                </div>
                <div class="hotel-img">
                    <img src="../images/hotel.png" alt="San Francisco">
                    <div class="hotel-name">San Francisco</div>
                </div>
                <div class="hotel-img">
                    <img src="../images/hotel.png" alt="Pisa">
                    <div class="hotel-name">Pisa</div>
                </div>
                <div class="hotel-img">
                    <img src="../images/hotel.png" alt="Paris">
                    <div class="hotel-name">Paris</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>