<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
		<ul>
			<li><a href="./index.html" id="logo">Name</a></li>
			<li><a href="./rooms.html">Rooms</a></li>
			<li><a href="./services.html">Services</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./bookings.html" id="book">Book Now</a></li>
		</ul>
	</nav>
    
    <h1>Services</h1>
    <!-- Add your HTML content here -->
</body>
</html>